
body {
    font-family: 'Roboto', sans-serif;
    color: #353e4c;
    font-size: 2em;
    background-color: #e8e8e8;
  }
  
  .property {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 80%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    z-index: -1;
  }
  
  .build.property { cursor: default; }
  
  .property::before {
    content: '';
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 0.125em;
    transform: translateX(-50%);
    background-color: currentColor;
    border-radius: 0.125em;
    transition: all 250ms;
  }
  
  .build.property::before {
    width: 0;
    opacity: 0;
  }

  .building {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    color: inherit;
    background-color: inherit;
    border: 0.125em solid;
    border-radius: 0.125em;
    transition: all 500ms ease;
  }
  
  .build .building {
    bottom: -7em;
  }
  
  .building::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 4.625em;
    height: 0.375em;
    transform: translateX(-50%);
    background-color: inherit;
    background-image:
      linear-gradient(
        rgba(0,0,0,0) 30%,
        rgba(0,0,0,0.15) 30%,
        rgba(0,0,0,0.15) 70%,
        rgba(0,0,0,0) 70%
      );
    border: inherit;
    border-radius: inherit;
    transition: all 250ms 500ms cubic-bezier(0, 0.5, 0.3, 1.5);
  }
  
  .build .building::before {
    width: 0;
    opacity: 0;
  }
  
  .window {
    position: absolute;
    /*top: 0.375em;*/
    /* left: 50%; */
    width: 0.375em;
    height: 0.75em;
    /* transform: translateX(-50%); */
  }

  .window.normal {
    color: inherit;
    border: 0.125em solid;
    border-radius: 0.0625em;
    box-shadow: inset 0 -0.25em;
    transition: all 250ms 500ms cubic-bezier(0, 0.5, 0.3, 2);
  }
  
  .build .window {
    width: 0;
    height: 0;
    opacity: 0;
  }
  
  .window.normal::before,
  .window.normal::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0.625em;
    height: 0.125em;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.3);
    border: inherit;
    border-radius: inherit;
    box-shadow: 0 0.25em 0 -0.125em rgba(0,0,0,0.15);
    transition: transform 250ms 750ms, width 250ms 1000ms;
  }
  
  .build .window.normal::before {
    width: 0;
    transform: translate(-50%, -0.25em);
  }
  
  .window.normal::after {
    top: 0.25em;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0.15);
    border-radius: 0;
  }
  
  .awning {
    position: absolute;
    z-index: 10;
    bottom: 2em;
    left: 50%;
    width: 100%;
    height: 0.875em;
    transform: translateX(-50%);
    background-color: inherit;
    background-image:
      linear-gradient(left,
        rgba(0,0,0,0) 70%,
        rgba(0,0,0,0.15) 70%,
        rgba(0,0,0,0.15) 100%,
        rgba(0,0,0,0) 100%
      );
    background-size: 0.375em;
    border: inherit;
    border-right: none;
    border-left: none;
    box-shadow: 0 0.25em rgba(0,0,0,0.15);
    transition: all 250ms 1000ms;
  }
  
  .build .awning { width: 0; }
  
  .awning::before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 0.375em;
    background-image:
      linear-gradient(
        rgba(0,0,0,0) 30%,
        rgba(0,0,0,0.15) 30%,
        rgba(0,0,0,0.15) 70%,
        rgba(0,0,0,0) 70%
      );
    border: inherit;
  }
  
  .store-front {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 3.375em;
    height: 2em;
    overflow: hidden;
    transform: translateX(-50%);
    background-color: inherit;
    border: inherit;
    border-bottom: none;
    box-shadow: inset 0 -0.5em rgba(0,0,0,0.15);
    transition: all 250ms 1250ms;
  }
  
  .build .store-front {
    bottom: -0.125em;
    height: 0;
  }
  
  .store-front::before,
  .store-front::after {
    content: '';
    position: absolute;
    bottom: 0.5em;
    left: -0.125em;
    width: 100%;
    height: 0.875em;
    border: 0.125em solid;
  }
  
  .store-front::after {
    bottom: -0.125em;
    left: 50%;
    width: 0.875em;
    height: 100%;
    transform: translateX(-50%);
  }
  
  .door {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    width: 0.875em;
    height: 1.5em;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: inherit;
  }
  
  .door::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 0.125em;
    height: 100%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.3);
    border-radius: 0.125em;
    box-shadow: 0 0 0 0.5em;
  }
  
  .patron {
    position: absolute;
    bottom: 0.625em;
    left: 0.25em;
    width: 0.375em;
    height: 0.375em;
    color: rgba(0,0,0,0.15);
    background-color: currentColor;
    border-radius: 0.1875em 0.1875em 0 0;
  }
  
  .patron::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0.125em;
    height: 0.25em;
    transform: translateX(-50%);
    background-color: currentColor;
    border-radius: 0.0625em 0.0625em 0 0;
  }
  
  .patron:nth-child(2) { left: 2.5em; }
  .patron:nth-child(3) {
    left: auto;
    right: 0;
    height: 0.125em;
  }
  
  .tree {
    position: absolute;
    bottom: 1.25em;
    left: 50%;
    width: 1.375em;
    height: 1.375em;
    margin-left: -6.375em;
    transform: translateX(-50%);
    background-color: inherit;
    border: 0.125em solid;
    border-radius: 50%;
    box-shadow: inset 0 -1.125em rgba(0,0,0,0.15);
    transition: all 250ms 500ms;
    z-index: 999;
  }
  
  .build .tree { bottom: -1.625em; }
  
  .tree::before,
  .tree::after {
    content: '';
    position: absolute;
    top: 0.375em;
    left: -50%;
    width: 100%;
    height: 100%;
    margin-left: -0.0625em;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    box-shadow: inset 0.375em -0.825em rgba(0,0,0,0.15);
  }
  
  .tree::after {
    top: 1.875em;
    left: 50%;
    width: 0.125em;
    height: 0.75em;
    margin-left: -0.8125em;
    border-bottom: none;
    border-radius: 0;
    box-shadow: inset 0 0.25em rgba(0,0,0,0.15);
  }
  
  .tree:last-child { margin-left: 6em; }
  
  .tree:last-child::before { margin-left: 1.1875em; }
  .tree:last-child::after { margin-left: 0.4375em; }
  
  .bushes {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 2.4375em;
    width: 1em;
    height: 0.75em;
    color: #000;
    background-color: currentColor;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow:
      -0.625em 0.125em 0 -0.125em,
      0.75em 0.0625em 0 -0.0625em,
      6.125em 0,
      6.75em 0.125em 0 -0.125em,
      5.5em 0.0625em 0 -0.0625em;
    opacity: 0.15;
    transition: all 250ms 750ms;
    z-index: 999;
  }
  
  .build .bushes { bottom: -0.75em; }
  
  .cloud {
    position: absolute;
    top: 2.375em;
    left: 2.625em;
    width: 1.8125em;
    height: 0.8125em;
    background-color: #fff;
    border-radius: 60% 60% 0 0 / 120% 120% 0 0;
    opacity: 0.5;
    transition: all 1000ms;
  }
  
  .build .cloud { opacity: 0; }
  
  .cloud::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1.5em;
    width: 1.3125em;
    height: 0.5625em;
    background-color: inherit;
    border-radius: inherit;
  }
  
  .cloud:nth-child(2) {
    top: 1.9375em;
    left: 6.75em;
    width: 1.375em;
    height: 0.75em;
  }
  
  .cloud:nth-child(2)::before {
    left: 1em;
    width: 0.9375em;
    height: 0.5em;
  }
  
  .cloud:nth-child(3) {
    top: 5.875em;
    left: 2.25em;
    width: 1.625em;
    height: 0.8125em;
  }
  
  .cloud:nth-child(3)::before {
    left: 1.25em;
    width: 1.25em;
    height: 0.5em;
  }
  
  .cloud:nth-child(4) {
    top: 5em;
    left: 7.6875em;
    width: 1.5em;
    height: 0.875em;
  }
  
  .cloud:nth-child(4)::before {
    left: 1.125em;
    width: 1.25em;
    height: 0.4375em;
  }


.card {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  float: left;
  width: 200px;
  height: 400px;
  z-index: 9999;
  overflow-y: auto;
  top:150px
}

.card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#schedule-container {
  font-size: 15px;
  text-align: left;
}

#schedule-container span {
  display: block;
  margin-bottom: 7px;
}

.missing {
  color: red;
}

#input-group input {
  width: 300px;
}

#input_story_length {
  width: 40px !important;
}

#input-group label {
  font-size: 20px;
}

#interface-group {
  margin-left: 18px;
}
